@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }

  /* .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  } */

  .dark {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }
}



.spartan {
  font-family: "League Spartan", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}

.zoom-image {
  position: absolute;
  inset: 0px;
  overflow: hidden;
}

.image-wrap {
  background-image: url("/assets/images/bg-home.jpg");
  position: absolute;
  filter: blur(4px);
  top: -350px;
  bottom: -350px;
  inset-inline-start: -100px;
  inset-inline-end: -100px;
  margin: auto;
  overflow: hidden !important;
  overflow-x: hidden;
  min-height: 100%;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  -webkit-animation: 100s ppb_kenburns linear infinite alternate;
  animation: 100s ppb_kenburns linear infinite alternate;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}

@keyframes move {
  0% {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}
@-webkit-keyframes ppb_kenburns {
  0% {
    -webkit-transform: scale(1.3) translate(-10%, 10%);
    transform: scale(1.3) translate(-10%, 10%);
  }
  25% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
  }
  50% {
    -webkit-transform: scale(1.3) translate(10%, 10%);
    transform: scale(1.3) translate(10%, 10%);
  }
  75% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(1.3) translate(-10%, 10%);
    transform: scale(1.3) translate(-10%, 10%);
  }
}
@keyframes ppb_kenburns {
  0% {
    -webkit-transform: scale(1.3) translate(-10%, 10%);
    transform: scale(1.3) translate(-10%, 10%);
  }
  25% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
  }
  50% {
    -webkit-transform: scale(1.3) translate(10%, 10%);
    transform: scale(1.3) translate(10%, 10%);
  }
  75% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(1.3) translate(-10%, 10%);
    transform: scale(1.3) translate(-10%, 10%);
  }
}

.hover-effect{
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.hover-effect {
  position: relative;
  margin:auto;
  width: 100%;
  height: 100%;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
 
  transition: 1s box-shadow;
}

.hover-effect:hover::before, .hover-effect:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FDA8CF;
  border-radius: 35px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.hover-effect:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}

.icon-effect:hover {

	-webkit-animation: toTopFromBottom 0.3s forwards;

	-moz-animation: toTopFromBottom 0.3s forwards;

	animation: toTopFromBottom 0.3s forwards;

}



@-webkit-keyframes toTopFromBottom {

	49% {-webkit-transform: translateY(-100%);	}

	50% {opacity: 0;	-webkit-transform: translateY(100%);}

	51% {opacity: 1;}

}

@-moz-keyframes toTopFromBottom {

	49% {-moz-transform: translateY(-100%);}

	50% {opacity: 0;	-moz-transform: translateY(100%);	}

	51% {opacity: 1;	}

}

@keyframes toTopFromBottom {

	49% {transform: translateY(-100%);}

	50% {opacity: 0;transform: translateY(100%);}

	51% {opacity: 1;	}

}



.aon-why-choose2-line {
  position: relative;

  margin: 50px;
}

.aon-why-choose2-line:after {
  z-index: -1;

  content: "";

  position: absolute;

  width: 50%;

  height: calc(100% + 100px);

  margin: -50px -50px -50px 0px;

  top: 0px;

  right: 0px;

  border: 5px solid #022279;

  border-radius: 30px;
}

.aon-why-choose2-line::after {
  -webkit-animation: upNdown222 5s infinite linear;

  animation: upNdown222 5s infinite linear;
}

@-webkit-keyframes upNdown222 {
  0% {
  }

  50% {
    width: 70%;
  }

  100% {
  }
}

@keyframes upNdown222 {
  0% {
  }

  50% {
    width: 70%;
  }

  100% {
  }
}

.aon-why-choose2-pic {
  position: relative;

  z-index: 2;

  height: 500px;

  background-image: url("/assets/images/why-choose-us.jpg");

  background-position: center;

  background-size: cover;

  border-radius: 30px;

  overflow: hidden;
}

.aon-why-choose2-pic:before {
  content: "";

  position: absolute;

  width: 100%;

  height: 140%;

  top: -20%;

  right: 50%;

  background-color: #f97316;

  opacity: 0.3;

  z-index: 1;

  -webkit-animation: zoom11 10s infinite linear;

  animation: zoom11 10s infinite linear;

  -moz-transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

@-webkit-keyframes zoom11 {
  0% {
  }

  50% {
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  100% {
  }
}

@keyframes zoom11 {
  0% {
  }

  50% {
    -moz-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  100% {
  }
}

@media only screen and (max-width: 640px) {
  .aon-why-choose2-pic {
    height: 300px;
  }

  .aon-why-choose2-line:after {
    height: calc(100% + 60px);

    margin: -30px -30px -30px 0px;
  }

  .aon-why-choose2-line {
    margin: 30px;
  }
}

html::-webkit-scrollbar {
    width: 12px;
    height: 6px;
  }
  html::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
  }
  html::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #f97316;
  }
  html::-webkit-scrollbar-thumb:hover{
  	background: #f97316;
  }
  html::-webkit-scrollbar-thumb:active{
  	background: #f97316;
  }
  

